{% extends "req.html" %}
{%block start%}




<div class="product-container">
    <!--box---------->
    {% for recipi in fruitlist %}
    <div class="product-box">
      <img src="/media/{{recipi.vege_imag}}" alt="" style="width: 200px;">
        <strong>{{fruitlist.vege_name}}</strong>

        <span class="quantity">{{recipi.vege_descr}}</span>
        <p></p>{{recipi.vege_count}}</p>
        <span class="price">{{recipi.vege_price}}</span>
        <!--cart-   btn------->
        <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i> Add Cart
        </a>
        <!--like-btn------->
        <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
        </a>
    </div>
    {% endfor %}
    <!--box---------->
    
</div>




{%endblock%}
